/* This will be my css file for all three html files */

/* I want the header to remain at the top of the page, should I add a fixed position to it?  */

body {
    background-color: grey;
    border-color: #ddd;
}

header {
    background-color: white;
    padding-top: 50px;
    border: #cccccc;
}

/* how do I get the nav to move to the top right? */
.topnavigation {
    display: inline;
}

h1 {
    width: 220px;
    padding: 10px;
    border: 5px ;
    margin-left: 40px;
    background-color: teal;  
    color: white;  
}

h2 {
    color: #4aaaa5;
}

.maincontainer {
    background-color: white;
    margin-left: 40px;
    margin-right: 40px
    ;
}
/* my image gets cut off when I add a fixed position */
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

p {
    color: #777777;
}
  /* this is the first paragraph in the about me section. */
.inline {
    display: inline;
}

  footer {
      background-color: #666666;
      position: sticky;
      text-align: center;

  }